<!DOCTYPE html>
<html>
<head>
    <title>Event Registration</title>
</head>
<body>

    <h1>Hello CI Updated!</h1>
    <h2>Register for Hackathon Event by vaibhav datkhil</h2>

    <form method="POST">
        Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        <button type="submit">Register</button>
    </form>

    {% if data %}
        <h3>Registered Users:</h3>
        <ul>
            {% for user in data %}
                <li>{{ user.name }} - {{ user.email }}</li>
            {% endfor %}
        </ul>
        {% if success %}
    <h3 style="color:green;">Registration Successful ✅</h3>
{% endif %}
    {% endif %}

</body>
</html>